<p>
  <b>Commenter:</b>
</p>

<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Destroy Comment', [comment.place, comment],
               :confirm => 'Are you sure?',
               :method => :delete %>
</p>
