@import "reset";
@import "basics";
@import "header";
@import "place";
@import "icon";
@import "forms";

.bound {
  margin: 0px auto;
  width: 960px;
}
.block {
  overflow: hidden;
  padding: 1em 2em;
}

#the_middle {
}

#the_content {
  border-top: 2px solid #d1d1c5;
  overflow: auto;
  height: 100%;
  h2 {
    margin: 10px 0;
    text-shadow: rgba(255,255,255,.95) 0 1px 1px;
  }
}

#the_bottom {
}
table.zebra {
  margin: 1em 0 0 0;
  border-spacing: 0px;
  text-align: left;
  width: 100%;
  font-size: 1.2em;
  th {
    padding: 5px 10px;
  }
  td {
    padding: 10px;
  }
  td.zebra_description {
    width: 45%;
  }
  tr.odd {
    border-collapse: collapse;
    background-color: #EEE;
  }
  tr:hover {
    background: #FFFFD9;
  }
}

