.comment_container {
  overflow: hidden;
  padding: 10px 0 0 0;
}
.comment {
}
.avatar {
  float: left;
  margin: 0 5px 0 0;
}
.show_replies {
  margin: 0 0 0 20px;
  overflow: hidden;
}
.reply_form {
  margin: 0 0 0 20px;
  overflow: hidden;
}
.metadata {
  overflow: hidden;
}
.edit_links {
}
.show_comments {
}
.comment_content_container {
  display: table;
}
.comment_content {
  float: left;
}
