<% place = history-%>
<div>
  <div class="place_in_sidebar">
    <div class="place_title_in_sidebar">
      <h3><%=link_to place.name, place %></h3>
    </div>
    <p><%=place.address%></p>
    <p><%= place.designation_list %></p>
    <p><%= place.facility_list%></p>

  </div>
</div>
