<% @place = history-%>
<div class="place_compact_rep">
    <h3><%=link_to @place.name, @place %></h3>
    <p><%= @place.address%></p>
    <p><%= @place.designation_list %></p>
    <%= render :partial => "icon_images" %>

</div>
