<% place = history-%>
<div class="place_compact_rep">
    <h3><%=link_to place.name, place %></h3>
    <p><%=place.address%></p>
    <p><%= place.designation_list %></p>
    <div class="facility_tags">
      <% place.facility_list.each do |t| %>
        <%= image_tag("/images/parkIcons/#{t}.gif", :class => "icon selected") %>
      <% end %>
    </div>


</div>
