<% @tags.each do |t| %>
  <% if @place.facility_list.include?(t) %>
    <span class="icon_checkbox">
      <%= check_box_tag "facilities[]", t, false, :class => "check_box", :id => t.gsub(' ', '_'), :checked => true %>
      <%= label_tag t, icon_image(t, "editable_icon selected") %>
    </span>
  <% else %>
    <span class="icon_checkbox">
      <%= check_box_tag "facilities[]", t, false, :class => "check_box", :id => t.gsub(' ', '_')%>
      <%= label_tag t, icon_image(t, "editable_icon") %>
    </span>
  <% end %>
<% end %>

