<% @tags.each do |t| %>
  <% if @place.facility_list.include?(t) %>
    <span>
      <%= check_box_tag "facilities[]", t, false, :class => "check_box", :id => t %>
      <%= label_tag t, image_tag("/images/parkIcons/#{t}.gif", :class => "icon selected") %>
    </span>
  <% else %>
    <span>
      <%= check_box_tag "facilities[]", t, false, :class => "check_box", :id => t%>
      <%= label_tag t, image_tag("/images/parkIcons/#{t}.gif", :class => "icon") %>
    </span>
  <% end %>
<% end %>

