<% @tags.each do |t| %>
  <% if @place.facilities.include?(t) %>
    <span>
      <%= check_box_tag "facilities[]", t.name, false, :class => "check_box", :id => t.id %>
      <%= label_tag t.id, image_tag("/images/parkIcons/#{t.name}.gif", :class => "icon selected") %>
    </span>
  <% else %>
    <span>
      <%= check_box_tag "facilities[]", t.name, false, :class => "check_box", :id => t.id %>
      <%= label_tag t.id, image_tag("/images/parkIcons/#{t.name}.gif", :class => "icon") %>
    </span>
  <% end %>
<% end %>

