<%= javascript_include_tag 'map_index' %>
<script type="text/javascript">
  var places = <%= @places.to_json(:methods => :facility_list).html_safe %>;
</script>

<div id="map_container">
  <input id="map_address" type="textbox" size="40" value="Sunset State Beach in CA">
  <input id="code_address" type="button" value="Search" onclick="codeAddress()">
  <input type="button" value="Add Place" onclick="addPlace()">
  <div id="map_canvas"> </div>
</div>

