<div class="listing_places">
  <h2 class="scaffold">Places</h2>
  <table class="zebra">
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Address</th>
      <th>Description</th>
      <th></th>
    </tr>
    <%= render :partial => 'row_summary', :collection => @places %>
  </table>
</div>

