<div class="listing_places">
  <h1>
    List of Places
    <% if @user and @user.admin? %>
      <span id="new_place_link">(<%= link_to 'New', new_place_path %>)</span>
    <% end %>
  </h1>

  <%= render :partial => 'summary', :collection => @places %>
</div>

